---
import Layout from '../components/Layout.astro'
import pkg from '../../package.json'
const badges = [
  {
    src: `https://img.shields.io/npm/v/${pkg.name}`,
    alt: 'version',
  },
  {
    src: `https://img.shields.io/bundlephobia/minzip/${pkg.name}/${pkg.version}`,
    alt: 'minified + gzip',
  },
  {
    src: `https://img.shields.io/npm/dm/${pkg.name}`,
    alt: 'downloads per month',
  },
  {
    src: `https://badgen.net/npm/types/${pkg.name}`,
    alt: 'types',
  },
]
---

<Layout>
  <h1>{pkg.name}</h1>
  <p>{pkg.description}.</p>
  <div class="d-flex flex-wrap gap-2">
    {badges.map((badge) => <img src={badge.src} alt={badge.alt} loading="lazy" height="20" />)}
  </div>
  <hr />
  <h5>Features</h5>
  <ul>
    <li><b>Custom separator</b>: Set a specific delimiter character between tag elements.</li>
    <li><b>Enable/disable duplicates</b>: Toggle the allowance of duplicate tags.</li>
    <li><b>Custom transformation</b>: Define personalized modifications to input tag entries.</li>
    <li><b>Max limit</b>: Set a maximum limit of tags that can be added.</li>
    <li><b>Sizing</b>: Adjustable sizing to match user preferences or layouts.</li>
    <li><b>Validation</b>: Reflects validation states visually to align with Bootstrap's form validationfeedback.</li>
  </ul>
  <hr />
  <h5>Repository</h5>
  <a class="link-body-emphasis" href={pkg.repository} target="_blank">{pkg.repository}</a>
  <hr />
  <h5>License</h5>
  <p>{pkg.license}</p>
</Layout>
